# Проигнорируйте файлы, находящиеся в подкаталоге tmp
tmp/
# и файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup 
# Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.
Thumbs.db
.DS_Store